.project {
  height: fit-content;
  padding-bottom: 20px;
}

.project img {
  height: 500px;
  padding-bottom: 2vh !important;
}

.project h1 {
  color: #b8b5ff;
}

.project h3 {
  color: #1cef9e;
}

.project h4 {
  color: #43e9e1;
}

.project button {
  margin-right: 20px;
}

.projectButtons {
  margin-top: 20px;
}
