.about h1 {
  font-size: 100px;
  color: #b8b5ff;
}

.picture {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  border: 2px solid #1cef9e;
  border-radius: 10px;
  font-style: italic;
  float: left;
  margin: 0 25px 25px 0;
}

.characterText h3 {
  color: #43e9e1;
}

.characterText h3 svg {
  margin-right: 10px;
}

.characterText hr {
  height: 40px;
  border-color: transparent;
}
