.roller {
  height: 100%;
  width: 70vw;
  border: 5px solid #1cef9e;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 30px;
  color: #333;
}

.roller img {
  z-index: 5;
}

.roller h1 {
  color: #1cef9e;
  position: absolute;
  z-index: 100;
  top: 810px;
  left: 320px;
}

.rolledText {
  background-color: #b8b5ff;
  height: 90%;
  width: 80%;
  border-radius: 10px;
  padding: 10px 20px;
}

.rolledText button {
  background-color: transparent;
  font-weight: bolder;
  border-color: #333;
}
