.roller {
  height: 100%;
  width: 70vw;
  border: 2px solid #43e9e1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #ddd;
}

.roller img {
  z-index: 5;
}

.rolledText {
  height: 90%;
  width: 80%;
  border-radius: 10px;
  padding: 10px 20px;
}

.rolledText h2 {
  color: #b8b5ff;
}

.rolledText a {
  text-decoration: underline;
  color: #1cef9e;
}

.d20Rolling {
  animation-name: roll;
  animation-duration: 500ms;
}

@keyframes roll {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
