.roller { 
  height: 100%; 
  width: 70vw; 
  border: 2px solid #43e9e1; 
  border-radius: 10px; 
  display: flex; 
  align-items: center; 
  padding: 10px; 
  color: #ddd; 
} 

.mobileRoller { 
  height: 500px; 
  width: 70vw; 
  border: 2px solid #43e9e1; 
  border-radius: 10px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 10px; 
  color: #ddd; 
} 

.mobileRoller .rolledText { 
  width: 100%; 
} 

.mobileRoller .preRolledText { 
  margin-top: 60px; 
} 

.mobileRoller .preRolledText h1, 
.mobileRoller .preRolledText h2 { 
  color: #b8b5ff; 
  width: 90%; 
  margin-left: auto; 
  margin-right: auto; 
} 

.roller .rolledText, 
.roller .preRolledText { 
  height: fit-content; 
  width: 80%; 
  border-radius: 10px; 
  padding: 10px 20px; 
} 

.rolledText h1, 
.rolledText h2, 
.preRolledText h1, 
.preRolledText h2 { 
  color: #b8b5ff; 
  width: fit-content; 
  margin-left: auto; 
  margin-right: auto; 
} 

.rolledText h4 { 
  width: fit-content; 
  margin-left: auto; 
  margin-right: auto; 
} 

.rolledText a { 
  color: #1cef9e; 
} 

.roller img, 
.mobileRoller img { 
  max-width: 250px; 
  margin-left: auto; 
  margin-right: auto; 
} 

.d20Rolling { 
  animation-name: roll; 
  animation-duration: 500ms; 
} 

@keyframes roll { 
  from { 
    transform: translate3d(0, 0, 0); 
  } 
  15% { 
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); 
  } 
  30% { 
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); 
  } 
  45% { 
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); 
  } 
  60% { 
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); 
  } 
  75% { 
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); 
  } 
  to { 
    transform: translate3d(0, 0, 0); 
  } 
} 
