.footer {
  width: 100vw;
  margin-bottom: 0px;
  border-top: 2px solid #43e9e1;
  color: #b8b5ff;
  height: 12vh;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
}

.footer h4 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.nameLink {
  color: #43e9e1;
}

.contact {
  width: 100%;
  padding: 0 30%;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact svg:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .footer h4 {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .contact {
    padding: 0 10%;
  }
}

@media (max-width: 400px) {
  .contact a {
    height: 30px;
  }

  .contact svg {
    height: 100%;
    vertical-align: top;
  }

  .contact button {
    vertical-align: top;
    line-height: 1.25;
  }
}
