.footer {
  width: 100vw;
  margin-bottom: 0px;
  border-top: 2px solid #43e9e1;
  color: #b8b5ff;
  height: 12vh;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
  z-index: 5;
}

.copyright {
  width: 100vw;
  padding: 0 39.5vw;
}

.namelink {
  color: #43e9e1;
}

.contact {
  width: 100%;
  padding: 0 30%;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.contact button {
  color: #333;
}
