.home {
  padding: 10vh 2vw;
  height: 100%;
}

.hero {
  color: #b8b5ff;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 100px;
}

.hero span {
  color: #1cef9e;
}

.d20 {
  display: flex;
  align-items: center;
}

.d20 img {
  filter: invert(100%) sepia(88%) saturate(3090%) hue-rotate(137deg) brightness(95%) contrast(90%);
}

.d20 button {
  height: 35px;
  margin-left: 30px;
  color: #333;
}
