.home {
  margin-top: 9vh;
  height: fit-content;
  padding-bottom: 20px;
  width: 100%;
}

.hero {
  color: #b8b5ff;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.hero h1 {
  font-size: 100px;
  margin-bottom: 1vh;
}

.hero h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #43e9e1;
  margin-top: 1vh;
}

.d20 {
  display: flex;
  align-items: center;
}

.d20 img {
  filter: invert(67%) sepia(93%) saturate(420%) hue-rotate(97deg) brightness(101%) contrast(88%);
}

@media (max-width: 500px) {
  .home {
    padding: 0 30px 20px 30px;
  }
  .hero h1 {
    font-size: 70px;
  }
  .hero h2 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 44px;
    margin-top: 0;
  }
}
