.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  margin-top: 8vh;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mobileMain {
  margin-top: 10vh;
  height: 90vh;
}

.mobileMain::-webkit-scrollbar {
  display: none;
}
