.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  margin-top: 9vh;
  height: 79vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mobileMain {
  margin-top: 9vh;
  height: 91vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mobileMain::-webkit-scrollbar {
  display: none;
}
