.navbar {
  background-color: inherit;
  border-bottom: 2px solid #43e9e1;
  height: 6vh;
  justify-content: center;
}

.navbar a {
  margin: 0 20px 0 20px;
}

.activeLink {
  font-size: 1.2rem;
  color: #1cef9e;
}

.home {
  align-self: flex-start;
  color: #43e9e1;
  padding: 20px;
  font-size: 1.5rem;
}

.home svg {
  margin-right: 10px;
}

.pages {
  color: #b8b5ff;
  padding: 20px;
  margin: 0 20px 0 auto;
}

.pages svg {
  color: #1cef9e;
}

@media (max-width: 500px) {
  .home {
    padding-top: 2vh;
    padding-left: 0;
    margin: 0;
  }

  .activeLink {
    font-size: 1.2rem;
    color: #1cef9e;
    font-size: 40px;
  }
}
