.projects {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.projects h1 {
  color: #b8b5ff;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.idvProject {
  border: 2px solid #43e9e1;
  border-radius: 20px;
  padding: 10px;
  color: #b8b5ff;
}

.idvProject button {
  margin: 0 10px 20px 10px;
}

.idvProject p {
  color: #ddd;
  margin-bottom: 20px;
}
