.projects {
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.projects h1 {
  color: #b8b5ff;
  margin-top: 2vh;
  font-size: 60px;
}

.idvProject {
  border: 2px solid #43e9e1;
  border-radius: 20px;
  padding: 20px;
  color: #b8b5ff;
}

.idvProject a {
  margin-top: 20px;
}

.projectImg {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.projectImg img {
  height: 200px;
}

.projectName {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.projectName h2 {
  margin: 10px 0;
}

.projects button {
  margin: 20px 10px;
}

.seeButtons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.idvProject p {
  color: #ddd;
}

@media (max-width: 500px) {
  .projects h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
}
