.skills {
  color: #b8b5ff;
  width: 100%;
  padding-bottom: 20px;
}

.skills h1 {
  font-size: 60px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.skills h3 {
  color: #1cef9e;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.skills img:hover {
  cursor: pointer;
}

.additionalSkills {
  background-color: #b8b5ff;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  margin-top: 5vh;
  padding: 50px 100px;
}

.skills .additionalSkills h1 {
  font-size: 2em;
  color: #333;
  margin: 0 auto 20px auto;
  border-bottom: 5px solid #43e9e1;
  padding: 0;
}

.skills .additionalSkills img:hover {
  cursor: default;
}
